# requirements file for legend_and_map segmentation pipeline

# install legend_and_map_segmenter task from its local installation
-e ../../../tasks/segmentation/legend_and_map

Flask==3.0.0
python-dotenv==1.0.0