#!/bin/bash

# arg 1: input file - a flat list of COG IDs to process

# verify that the arg is passed in and is a file
if [ -z "$1" ]; then
    echo "Usage: $0 <input COG ID file>"
    exit 1
fi

docker network ls | grep -q 'lara' || docker network create lara
docker run \
    --pull always \
    --rm \
    --name cdr \
    -e CDR_API_TOKEN={{ cdr_api_token }} \
    -e NGROK_AUTHTOKEN={{ ngrok_authtoken }} \
    -v {{ work_dir }}/workdir \
    -v {{ image_dir}}:/imagedir \
    -v $1 :/input \
    --net lara \
    uncharted/lara-cdr:test \
        --host rabbitmq \
        --workdir workdir \
        --imagedir imagedir \
        --output output \
        --input input \
        --mode process
