# requirements file for legend_and_map segmentation pipeline

# install lara_segmentation 'task' from its local installation
-e ../../tasks/geo_referencing/

boto3==1.28.71
Flask==3.0.0
python-dotenv==1.0.0